asgiref
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-environ
django-filter
djangorestframework
EasyProcess
entrypoint2
filelock
Markdown
MouseInfo
mss
Pillow
platformdirs
psycopg2
PyAutoGUI
pygame
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
pytz
sqlparse
tzdata
virtualenv