{% extends "base.html" %} 
{% load static %}
{% block content %}

{% if messages %}
<div
  class="toast show"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  data-bs-delay="2000"
>
  <div class="toast-header">
    <strong class="me-auto">Congratulations</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="toast"
      aria-label="Close"
    ></button>
  </div>
  <div class="toast-body">
    {% for message in messages %}
    <p {% if message.tags %} class="{{message.tags}}" {%endif%}>
      {{ message }}
    </p>
    {% endfor %}
  </div>
</div>
{% endif %}
{% comment %} ----------------------------------------------------- {% endcomment %}

{% if not request.user.is_authenticated %}
    <div class="container text-center"> <h1> <b>Bangladesh Railway</b></h1>
        <br>
        <img style='width:50%;' src="{% static 'picc.jpg' %}" alt="pic">
        
    </div>
    <br>
    <div class="container text-center">
        <a href="{% url 'register' %}" class="btn btn-success mt-2">Register</a>
        <h5><strong>or</strong></h5>
        <a href="{% url 'login' %}" class="btn btn-warning">Login</a>
    </div>
{% endif %}



{% if request.user.is_authenticated %}


<div class="container  m-5">
  <h3>Filter Station by From Destination:</h3>
  <div class="row d-flex justify-content-between align-items-center text-center">
    <div class="col">
      <a href="{% url 'home' %}" class="text-decoration-none text-dark btn btn-warning" >All</a>
    </div>
      {% for cat in category %}
      <div class="col">
          <a href="{% url 'category_wise_post' cat.slug %}" class="text-decoration-none text-dark btn btn-warning" >{{cat.name}}</a>
      </div>
      {% endfor %}
  </div>
</div>
<hr>

<div class="container">
<div class="row d-flex  align-items-center text-center">
  {% for train in trains %}
  <div class="col-3 mb-3 mb-sm-0 mt-2">
    <div class="card">
      <h5 class="card-header">{{train.name}}</h5>
      <div class="card-body">
        <p class="card-text"><strong>From:</strong> {{train.start_station}}</p>
        <p class="card-text"><strong>To:</strong> {{train.end_station}}</p>
        <p class="card-text"><strong>Ticket Price:</strong> {{train.price}}</p>
        <a href="{% url 'buy_ticket' id=train.id %}" class="btn btn-primary">Click For Ticket</a>

      </div>
    </div>
  </div>{% endfor %}

</div>
</div>

{% endif %}











{% comment %} -------------------------------------------------------------- {% endcomment %}
<script>
  var toastElList = [].slice.call(document.querySelectorAll(".toast"));
  var toastList = toastElList.map(function (toastEl) {
    return new bootstrap.Toast(toastEl);
  });
  if (toastList.length > 0) {
    toastList.forEach((toast) => toast.show());
  }
</script>
{% endblock %}
